
:root {
    --main-color: #ff040c;
    --text-color: #646464;
    --header-size: 28px;
    --secondary:#28a745;
    --grey:#6c757d;
    --orangered:rgb(218, 74, 22);
    --white::#fff;
    --black:#000000;
    --light-bleu:#F0FAF8;
}

* {
    font-family: "Varela Round", "Helvetica Neue", Helvetica, sans-serif;
}

.text-main {
    color: var(--main-color) !important;
}

.bg-main {
    background-color: var(--main-color) !important;
}

.btn-main {
    background-color: var(--main-color);
    color: white;
    border-radius: 50px;
}

.btn-main:hover {
    background-color: var(--main-color);
    color: white;
    opacity: 0.8;
}

.text-sec {
    color: var(--text-color);
}

.form-control,
.form-select {
    color: var(--text-color);
}

.btn-link,
.btn-link:hover {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
}

/* Home page benefits section */
.benefits {
    background-color: white;
}

.benefits h1 {
    font-size: var(--header-size);
    text-align: center;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.benefits p {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
}

.benefits .col-6 {
    margin-bottom: 3rem;
}

.benefits .col-6 a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
}

.benefits .col-6 a:hover {
    color: var(--main-color);
    font-weight: 600;
}

.benefits img {
    height: 500px;
    width: 70%;
}

.benefits .cities {
    margin-top: 3rem;
}

/* Home page testimonials */
.testimonials {
    background-color: #f0faf8;
}

.testimonials .company {
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 18px;
}

.testimonials .title {
    font-size: 20px;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.testimonials p {
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonials .date {
    color: var(--text-color);
    font-size: 12px;
}

.testimonials .card-body,
.testimonials .card {
    border-radius: 10px !important;
    border: none;
}

.testimonials h1 {
    color: var(--main-color);
    text-align: center;
    font-size: var(--header-size);
    margin-bottom: 3rem;
    font-weight: 500;
}

.testimonials .control-left,
.testimonials .control-right {
    padding: 0 15px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: inherit;
    font-size: 30px;
}

.testimonials .control-left {
    margin-left: 4rem;
}

.testimonials .control-right {
    margin-right: 4rem;
}

.testimonials .carousel-indicators,
.videos .carousel-indicators {
    position: static;
}

.testimonials .carousel-indicators button,
.videos .carousel-indicators button {
    background-color: red;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.testimonials .carousel-indicators button:not(.active),
.videos .carousel-indicators button:not(.active) {
    background-color: var(--text-color);
}

/* Home page video testimonials */
.videos {
    background-color: white;
}

.videos .video-img {
    position: relative;
}

.videos .play {
    position: absolute;
    top: 30%;
    left: 36%;
    color: white;
    font-size: 50px;
    border: 4px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.videos .play:hover {
    transform: scale(1.2);
}

.videos .card-body {
    color: var(--text-color);
}

.videos .quote-right {
    text-align: right;
}

.videos p {
    font-weight: 500;
    line-height: 1.6rem;
}

.videos .name {
    font-size: 12px;
}

.videos h1 {
    color: var(--main-color);
    text-align: center;
    font-size: var(--header-size);
    margin-bottom: 3rem;
    font-weight: 500;
}

/* Footer */
.footer-slogan {
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.footer-logo {
    width: 150px;
    margin-bottom: 1rem;
}

.apple,
.playstore {
    display: block;
    margin-bottom: 0.6rem;
}

.footer {
    background-color: #f2f4f7;
}

.footer a:not(.playstore, .apple) {
    text-decoration: none;
    color: #475467;
    font-size: 16px;
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer a:not(.playstore, .apple):hover {
    color: var(--main-color);
}

.footer h5 {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.footer-social {
    display: flex;
}

.footer-end p {
    color: #475467;
    font-style: italic;
}

.footer-social a {
    color: var(--text-color);
    font-size: 30px !important;
    display: block;
    margin-left: 1.5rem;
}

/* Video Modal */
.video-modal .modal-content,
.video-modal .modal-body {
    background-color: black;
}

.video-modal .modal-close {
    display: inline-block;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.auth-modal h5 {
    color: var(--main-color);
    font-size: var(--header-size);
}

.auth-modal .input-group-text {
    background-color: var(--main-color);
    color: white;
    border: none;
}

.auth-modal .form-control:focus {
    box-shadow: none;
    border-color: var(--main-color);
}

.auth-modal .form-check-input:checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.auth-modal .form-check-input:focus {
    box-shadow: none;
}

.auth-modal .form-check-label {
    color: var(--text-color);
}

.auth-modal .terms {
    font-size: 12px;
    margin-top: 1rem;
}

.auth-modal .btn-google img {
    width: 30px;
}

.auth-modal .btn-google {
    background-color: white;
    margin-top: 0.5rem;
    border-radius: 20px;
    color: var(--text-color);
    font-size: 18px;
    align-items: center;
}

.auth-modal .btn-google:hover {
    opacity: 0.8;
}

.auth-modal .modal-footer .btn-link {
    margin-left: -0.7rem;
}

.auth-modal .login-text {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 1rem;
    font-size: 18px;
}

/* House card */
.house-card .num-text {
    color: var(--text-color);
    text-transform: uppercase;
}

.house-card .card-body {
    background-color: white;
}

.house-card .card-border {
    border-color: var(--main-color);
}

.house-card .price {
    color: var(--main-color);
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.house-card .rooms {
    color: rgb(100, 100, 100);
    font-size: 16px;
    margin-bottom: 0.3rem;
}

.house-card .published {
    color: var(--text-color);
    font-size: 14px;
}

.house-card {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.house-card:hover {
    transform: scale(1.03);
}

.house-card .img-container {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    overflow: hidden;
    width: 150px;
}

.house-card .premium {
    width: inherit;
    overflow: hidden;
}

/* Sinlge house preview */
.house-images {
    cursor: pointer;
}

.house-images img {
    border-radius: 5px;
}

.house-images .last {
    position: relative;
}

.house-images .plus-photos {
    position: absolute;
    top: 35%;
    left: 30%;
    background-color: white;
    color: var(--main-color);
    font-size: 17px;
    border-radius: 20px;
}

.house-section h1 {
    color: var(--main-color);
    margin-bottom: 1rem;
}

.house-section .small {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 16px;
}

.house-section .small-main {
    color: var(--main-color);
    font-size: 22px;
    margin-top: 0.5rem;
}

.icon-box .icon {
    color: var(--main-color);
    font-size: 25px;
}

.icon-box {
    text-align: center;
    margin-top: 2rem;
    width: 100%;
    border-right: 1px solid var(--text-color);
}

.icon-box .question {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 1rem;
}

.icon-box .text {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 1rem;
}

.p-text h4 {
    color: var(--main-color);
    margin-bottom: 1rem;
    font-size: var(--header-size);
}

.p-text p {
    font-size: 18px;
    color: var(--text-color);
}

.expert img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.expert .content h5 {
    color: var(--main-color);
    font-size: 20px;
}

.expert .content div {
    margin-top: -0.5rem;
    font-size: 24px;
    color: var(--text-color);
}

.expert .contact {
    color: var(--main-color);
    font-size: 20px;
    border-left: 2px solid var(--text-color);
    padding-left: 4rem;
}

.others h4 {
    color: var(--main-color);
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: var(--header-size);
}

.house-sidebar .icon {
    font-size: 20px;
}

.house-sidebar div {
    font-size: 16px;
    line-height: 1.3rem;
}

/* Responsiveness */
@media (max-width: 991px) {
    .benefits h1 {
        font-size: 20px;
    }

    .benefits p {
        font-size: 16px;
    }

    .benefits img {
        width: 100%;
    }

    .benefits .cities {
        margin-top: 1rem;
    }

    .benefits .col-6 {
        margin-bottom: 0.5rem;
    }

    .benefits .col-6 a {
        font-size: 13px;
    }

    .benefits .city-btn {
        text-align: center;
        margin-top: 1rem;
    }

    .testimonials .carousel-indicators,
    .videos .carousel-indicators {
        margin-top: -2rem;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-social a {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .auth-modal .login-text {
        font-size: 14px;
    }

}

/* Arnauld */

.search-block {
    position: absolute;
    margin-bottom: 20px;
    width: 35%;
    justify-content: center;
   
  }
  
  .search-block input[type="text"] {
    height: 40px;
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 10px;
  }
 

  
  
  .button-container {
    position: absolute;
    padding-left: 18%;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    height: 40px;
  }
  
  .button-container button {
    margin-right: 10px;
    width: 50%;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px Dashed #ccc;
    outline: none;
    margin-right: 10px;
    background-color: white;
  }
  
  .button2-container {
    position: absolute;
    padding-left: 50%;
    margin-bottom: 20px;
    width: 78%;
    display: flex;
    height: 40px;
  }

  .button2-container button {
    margin-right: 10px;
    width: 50%;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px Dashed #ccc;
    outline: none;
    margin-right: 10px;
    background-color: white;
  }
  
  .button3-container {
    position: relative;
    padding-left: 79%;
    margin-bottom: 10px;
    width: 105%;
    display: flex;
    height: 40px;
  }

  .button3-container button {
    margin-right: 10px;
    width: 50%;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid var(--main-color);
    
    outline: none;
    margin-right: 10px;
    background-color: white;
  }
  
  .checkbox-container{
    position: relative;
    padding-left: 81%;
    width: 110%;
    display: flex;
    height: 30px;
    background: none;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    position: relative;
  }
  
  input[type="checkbox"]::before {
    content: "\2714";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #ff040c;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  input[type="checkbox"]:checked::before {
    opacity: 1;
  }
 

  .container2 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    position: relative;
  }
  
  .block-left {
    width: 60%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-left: 1.5%;
  }
  
 
 
  
  .block-left .card .card-body{
   
    border-radius: 50px;

    
  }

  


  .block-right {
    width: 40%;
    height: 100%;
    background-color: white;
  }
  
  .scrollbar {
    position: relative;
    top: 0;
    left: 60%;
    height: 100%;
    width: 10px;
    background-color: #aaa;
    z-index: 1;
  }

  hr {
    border: none;
    border-top: 1px solid black;
    margin: 10px 0;
    background-color: none;
  }

/* Responsiveness of the page 'Rechercher' */
@media screen and (max-width: 991px) {
    .benefits .ms-2 .search-block {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
      margin-right: 1rem;
     }
     

     .benefits .ms-2 .button-container{
        display: flex;
        font-size: 9px;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
     }
     .benefits .ms-2  .button2-container   {
        display: flex;
        font-size: 9px;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

    }
    .benefits .ms-2 .button3-container{
        display: flex;
        font-size: 9px;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 0.5rem;
        padding-top: 0.75rem;
        margin-bottom: 0.5rem;
    }


    .benefits .ms-2 .checkbox-container{
        display: flex;
        font-size: 9px;
        text-align: center;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        padding-top: 0.75rem;
        margin-left: -1rem;
    }

      hr {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        padding-top: 3rem;
      
      }
      .container2 .block-left .ms-2 h5{
        padding-left: 10px;

      }

        .container2 .block-left, .block-right {
            width: 100%;
            margin-top: 2rem;
            padding-top: 2rem;
          }
      
          .scrollbar {
            position: relative;
            top: 0;
            left: 60%;
            height: 100%;
            width: 10px;
            background-color: #aaa;
            z-index: 1;
          }
  }
  
    
  
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: 1;
}

.header-overlay {
    position: relative;
    height: 100%;
    background-image: url("/storage/images/imageAide.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.search-container01{
    position: relative;

}

.search-container01 div{
    position: absolute;
    left: 0;
    
}

.search-container01 input{
    width: 100%;
    padding-left: 5%;
}


.container-horizontal01 {
    position: relative;
    z-index: 2;
    padding-top: 0%;
}

.horizontal-section01 {
    display: flex;
    padding: 10px;
    background-color: #e6c1c1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    padding-top: 5%;
}



    
    #main {
    padding: 50px;
    }
    
    .link a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    
    }
    
  
    
    .question-section {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    
    
    .question-block {
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    }
    
    .question-block a{
        text-decoration: none;
    }

    h2 {
    font-size: 24px;
    margin-bottom: 20px;
    }
    
    h3 {
    font-size: 20px;
    margin-bottom: 10px;
    }
    
    p {
    font-size: 16px;
    }

    .container-horizontal01{
        background-attachment: fixed;
        background-color: var(--main-color);
    }

    .nav {
      margin-top: 50px;
     
    }

/*responsiveness of the 'Aide' page*/
    @media screen and (max-width: 991px) {
        

        .container-horizontal01 .horizontal-section01 {
            display: block;
            height: 20rem;
            justify-content: space-between;
            font-size: 0%;
            height: fit-content;
           
            
        }

       #main .nav {

       
        margin-top: 5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        font-size: 0.5px;
        text-align: center;
        position: relative;
      
    
       }

       #main .nav .nav-link{

       
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        font-size: 20px;
        text-align: center;
        position: relative;
        color: black;
       }

       #main  .question-section .question-block{
           
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        font-size: 2px;
        text-align: center;
        position: relative;
       }
    }

    #main .nav .nav-link{

  

       
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        font-size: 20px;
        text-align: center;
        position: relative;
        color: black;
      
    
       }



 

 /*corresponding css of the 'locataires' panel*/

 .sidebar1-sticky {
  position: fixed;
  top: 0;
  height: calc(100vh - 56px);
  padding-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  
}

.sidebar1 .nav-link {
  font-weight: 500;
  color: #333;

  background-color: #f8f9fa;
  
}

.sidebar1 .nav-link.active {
  color: #007bff;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.help-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #ff040c;
  color: white;
  font-size: 24px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.help-button:before {
  content: "\f059";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  line-height: 50px;
}


/*corresponding css for proprietaires panel*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.navbar {
    
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
 
  
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .logo {
  padding: 10px 15px 10px;
}

.sidebar .links {
  margin-top: 15px;
}

.sidebar .links li {
  display: block;
  margin: 0;
  padding: 0;
}

.sidebar .links li a {
  display: block;
  padding: 10px 15px;
  color: #333;
  border-radius: 2px;
  transition: all .2s ease-in-out;
}

.sidebar .links li a:hover {
  color: #fff;
  background-color: #007bff;
}

.sidebar .settings {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.sidebar .settings a {
  display: inline-block;
  margin: 0 5px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.5;
}
.main {
    flex: 1;
    margin-right: 20px;
  }


    .expert .contact {
        border-left: none;
        padding-left: 0;
    }

    .house-images .plus-photos {
        left: 60%;
        top: 70%;
    }

    .house-section h1 {
        font-size: 22px;
    }

    .house-section .small-main {
        font-size: 18px;
    }

    .icon-box .icon {
        font-size: 20px;
    }

    .icon-box .question {
        color: var(--main-color);
        font-size: 13px;
        font-weight: 600;
        margin-top: 1rem;
    }

    .icon-box .text {
        font-size: 13px;
        color: var(--text-color);
        margin-top: 1rem;
    }

    .p-text h4,
    .expert h5,
    .others h4 {
        font-size: 20px;
    }

    .house-sidebar button {
        padding: 0.1 rem !important;
    }
   

body {
    font-family: 'Varela Round', 'Helvetica Neue', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333333;
    background: var(--white);
}

#videoBG{
    position: absolute;
    z-index: -1;
    width: 100%;
}
 .main-header .bg-dark{
    background-color: var(--white) !important;
  }

.banner{
    width: 100%;
    height: 80vh;
    min-height: 400px
}
.banner input, button{
    border-radius: 30px;
}
.main-header .navbar-brand .logo {
    max-height: 4.25rem;
    max-width: 490px;
}

.main-header .btn{
    border-radius: 30px;
    background: var(--main-color);
}
.main-header .btn:hover{
    background: var(--orangered);
}
.main-header .search-box{
    flex: 1;
    position: relative;
 
}
.main-header .search-box input{
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
}

.main-header .search-box div{
    position: relative;
}

 .main-header .search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1);
    background: none;
 }

 .nav-tabs .nav-item .nav-link.active {
    border: 2px solid transparent;
    border-bottom-color: var(--main-color);
    color: var(--main-color);

}

.nav-tabs .nav-link:not(.active) {
  color: var(--grey);   /* muted color for inactive tabs */
    border: 0px solid transparent;
}

.nav-tabs .nav-link:not(.active):hover {
    color: var(--main-color);
}
#landlord button{
    width: 300px;
    border-radius: 30px;
    color: var(--orangered);
}
.nav-tabs button{
    border-radius: 30px;
    width: 190px;
}


 .more-text {
    display: none;
  }
  
  .text {
    cursor: pointer;
  }


.loge{
    background: var(--light-bleu);
}
.featured .card {
    transition: all 0.5s;
    border:1px solid var(--main-color);
}

.featured .card:hover{
    transform: scale(1.03);
}

#rounded-circle{
    border: 1px solid var(--main-color);
    border-radius: 50%;
}
section .tab2{
    background: var(--light-bleu);
}
.wrapper{
    max-width: 700px;
    width: 100%;
    position: relative;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}
.wrapper .carousel::-webkit-scrollbar{
    display: none;
}
.wrapper i{
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid var(--grey);
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.wrapper i:first-child{
    left: -62px;
}
.wrapper i:last-child{
    right: -62px;
}

.card-slider .card {
    margin: 0 10px;
  }
  
  .card-slider .card img {
    height: 250px;
  }

 .dashboard_dropdown .dashboard_dropdown_header{
    cursor: pointer;
    border-left: 5px solid var(--main-color);
    border-radius: 3px;
 }

 .dashboard_dropdown .dashboard_dropdown_content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
 }


.dashboard_dropdown_header.active .dashboard_dropdown_content{
    max-height: 900px;
    animation: fade 1s ease-in-out;
 }
 .dashboard_dropdown_header i{
    padding: 4px 7px 4px 7px;
    border: 1px solid var(--grey);
    border-radius: 50%;
 }
.dashboard_dropdown_header.active i{
    transform: rotate(180deg);
 }
 .dashboard_dropdown i{
    transition: transform 0.5s ease-in;
 }

 @keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
 }

  @media screen and (max-width: 991px) {
   .tab-content  #tenant img{
        background: var(--main-color);
    }
  }


@media screen  and (max-width: 900px){
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen  and (max-width: 600px){
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}

@media (min-aspect-ratio: 16/9) {
    #videoBG{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG{
        width: auto;
        height: 100%;
    }
}

 



    /* responsiveness of the proprietaire panel on small scree*/
    @media only screen and (max-width: 415px)  {
        .navbar {
            display: none;
             
        }
        
        
        .sidebar {
            width: 100%;
            margin-top: 560px;
            display: block;
            position: fixed;
          }
        .sidebar .fas {
            display: block;
            align-items: center;
            text-align: center;
        }  

        .sidebar .logo {
            display: none;
            padding: 10px 15px 10px;
          }
          
        
          .sidebar ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 0;
           
          }

        
          
        .sidebar .settings a {
            display: none;
           
          }
         
          
          
          
}
