:root {
    --primary: #1F3D85;
    --primary-medium: #19316B;
    --primary-bold: #071638;
    --primary-light: #456FD1;
    --neutral: #8E99B5;
    --neutral-medium: #D7E3FF;
    --neutral-light: #EEF3FF;
    --danger: #ea3a3d;
    --warning: #f9b959;
    --success: #008302;
    --black: #3a3a3a;
    --black-medium: #7F7F7F;
    --black-bold: #000000;
    --black-light: #B2B2B2;
    --black-xlight: #F3F3F3;
    --white: #ffffff;
    --light: #F1F1F1;
}

/*===== 1: Typography ================*/

@font-face {
    font-family: "Inter-Light";
    src: url("../fonts/Inter/Inter-Light.ttf");
}

@font-face {
    font-family: "Inter-ExtraLight";
    src: url("../fonts/Inter/Inter-ExtraLight.ttf");
}

@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter-Medium";
    src: url("../fonts/Inter/Inter-Medium.ttf");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url("../fonts/Inter/Inter-ExtraBold.ttf");
}

html, body {
    font-size: 16px;
    line-height: 21px;
    font-family: "Inter-Regular", serif;
    color: #13334A;
}

/* headings */
h1 {
    font-size: 48px;
    line-height: 50px;
    font-family: Inter-Bold;
}

h2 {
    font-size: 32px;
    line-height: 41px;
    font-family: Inter-Bold;
}

h3 {
    font-size: 26px;
    line-height: 35px;
    font-family: Inter-Bold;
}

h4 {
    font-size: 20px;
    line-height: 28px;
    font-family: Inter-Bold;
}

h5 {
    font-size: 18px;
    line-height: 24px;
    font-family: Inter-Bold;
}

h6 {
    font-size: 16px;
    line-height: 20px;
    font-family: Inter-Bold;
}

small, .small {
    font-size: 12px;
    line-height: 16px;
    font-family: "Inter-Regular", serif;
}


/* text color */
.letter-spacing {
    letter-spacing: 0.9px;
}

.font-weight-bold {
    font-family: Inter-Bold !important;
}

.font-weight-medium {
    font-family: Inter-Medium !important;
}

.font-weight-extrabold {
    font-family: Inter-ExtraBold !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-primary-light {
    color: var(--primary-light) !important;
}

.text-black {
    color: var(--black) !important;
}

.text-black-medium {
    color: var(--black-medium) !important;
}

.text-black-light {
    color: var(--black-light) !important;
}

.text-black-xlight {
    color: var(--black-xlight) !important;
}

.text-black-bold {
    color: var(--black-bold) !important;
}

.text-neutral-medium {
    color: var(--neutral-medium) !important;
}

.text-neutral {
    color: var(--neutral) !important;
}

.font-weight-medium {
    font-family: Inter-Medium;
}

.line-height-0 {
    line-height: 0 !important;
}

.line-height-1 {
    line-height: 1 !important;
}

.line-height-12 {
    line-height: 1.2 !important;
}

.line-height-15 {
    line-height: 1.5 !important;
}

/* row sizes */
.row-md {
    margin-left: -8px;
    margin-right: -8px;
}

.row-md > [class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}

.row-sm {
    margin-left: -5px;
    margin-right: -5px;
}

.row-sm > [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

/* background colors */
.bg-light {
    background-color: var(--light) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.bg-black-light {
    background: var(--black-light)
}

.bg-black-xlight {
    background: var(--black-xlight)
}

.bg-warning {
    background-color: var(--warning) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-success {
    background-color: var(--success) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary-light {
    background-color: var(--primary-light) !important;
}

.text-underline {
    text-decoration: underline;
}

.vertically-align {
    display: flex;
    align-items: center;
}


.section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.rounded {
    border-radius: 15px !important;
}

/* links and btn */
a {
    color: var(--primary);
}

a:hover {
    color: var(--primary-medium);
}

.link-dark {
    color: var(--black);
}
.link-dark:hover {
    color: var(--primary);
    text-decoration: none;
}

.btn {
    padding: 16px 48px;
    text-decoration: none;
    min-height: 52px;
    text-align: center;
    letter-spacing: 0.9px;
    font-family: Inter-Bold;
    border-radius: 5px;
    line-height: 21px;
    font-size: 16px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 0.35rem 0.5rem;
    font-size: 12px;
    line-height: 16px;
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-primary:hover {
    color: var(--white);
    background-color: var(--primary-light);
    border-color: var(--primary-light);
    box-shadow: none;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary {
    color: var(--white);
    background-color: var(--primary-bold);
    border: solid 1px var(--primary-bold);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-secondary:hover {
    color: var(--white);
    background-color: var(--black-bold);
    border-color: var(--black-bold);
}

.btn-secondary:focus, .btn-secondary.focus {
    color: var(--white);
    background-color: var(--primary-bold);
    border-color: var(--primary-bold);
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: var(--white);
    background-color: var(--primary-bold);
    border-color: var(--primary-bold);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}


.btn-outline-primary {
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-outline-primary:hover {
    color: var(--primary);
    background-color: var(--neutral-light);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--primary);
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: var(--primary-light);
    border-color: var(--primary);
    color: var(--primary);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}


.btn-outline-secondary {
    color: var(--primary-bold);
    background-color: var(--white);
    border-color: var(--primary-bold);
    box-shadow: none;
    transition: all 0.5s;
}

.btn-outline-secondary:hover {
    color: var(--black);
    background-color: var(--neutral-medium);
    border-color: var(--black);
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    color: var(--primary-bold);
    background-color: var(--white);
    border-color: var(--primary-bold);
    box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: var(--primary-bold);
    background-color: var(--light);
    border-color: var(--primary-bold);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn.disabled, .btn:disabled {
    background-color: var(--black-light) !important;
    border-color: var(--black-medium) !important;
    color: var(--black-medium) !important;
}

.btn-link {
    color: var(--primary);
    text-decoration: underline dashed;
    text-underline-offset: 4px;
}

.btn-link:hover {
    color: var(--primary);
    text-decoration: underline dashed;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 0.5rem;
}

.btn > img {
    height: 14px;
    margin-bottom: 3px;
}

.form-control {
    border: solid 1.5px var(--black-light);
    border-radius: 5px;
    font-size: 16px;
    height: calc(1.5em + 1.25rem + 10px);
    padding: 0.35rem 1.25rem;
}

.form-control::placeholder {
    font-size: 14px;
    color: var(--black-light);
}

.form-control:hover {
    border-color: var(--primary) !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--primary) !important;
}

.form-control.is-invalid:hover {
    box-shadow: none;
    border-color: var(--primary-bold) !important;
}

.form-control.is-invalid:focus {
    box-shadow: none;
}

.form-control.is-invalid ~ .invalid-feedback {
    padding-left: 0.75rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--black-light);
    opacity: 1;
    border-color: var(--black-light);
    color: var(--black-medium);
}

.form-control:disabled ~ label,
.form-control[readonly] ~ label {
    color: var(--black-light);
}

.form-group.floating {
    position: relative;
}

.form-group.floating label {
    margin-bottom: 0;
    position: absolute;
    left: 0.75rem;
    top: 0.725rem;
    transition: all 0.25s;
}

.form-group.floating .form-control:focus ~ label,
.form-group.floating .form-control.focus ~ label {
    top: -0.575rem;
    z-index: 2;
    font-size: 14px;
}

.form-group.floating .form-control:focus ~ label:before,
.form-group.floating .form-control.focus ~ label:before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 1px;
    left: -1px;
    background: white;
    top: calc(50%);
    z-index: -1;
}

.form-group.floating .form-control:not(.focus):not(:focus)::-webkit-input-placeholder {
    color: transparent;
}

.form-group.floating .form-control:not(.focus):not(:focus):-moz-placeholder {
    color: transparent;
}

.form-group.floating .form-control:not(.focus):not(:focus)::-moz-placeholder {
    color: transparent;
}

.form-group.floating .form-control:not(.focus):not(:focus)::-ms-input-placeholder {
    color: var(--white) !important;
}

.form-group.floating .form-control:not(.focus):not(:focus)::placeholder {
    color: transparent;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary);
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.preloader {
    background-color: #f6f5ef;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10000000000;
}


/*========= Pagination ============ */
.page-item:first-child .page-link {

}

.page-link {
    background: var(--white);
    border: solid 1px var(--light);
    color: var(--primary);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-family: Inter-Bold;
}

.page-link:hover {
    background-color: var(--neutral-light);
    border: solid 1px var(--primary);
}

.page-item.active .page-link {
    color: var(--white);
    background-color: var(--primary) !important;
    border: solid 1px var(--primary);
}

.page-link:focus {
    box-shadow: none;
}

.pagination {
    flex-wrap: wrap;
}

.page-item + .page-item {
    margin-left: 1.2rem;
}

.overflow-ellipsis2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.overflow-ellipsis3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

@media (min-width: 576px) {
    .container {
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 660px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 880px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1088px;
    }
}

