.tiny__display ul,
.tiny__display ol{
    list-style: none;
    /* position: relative; */
}

.tiny__display ul li,
.tiny__display ol li {
    position: relative;
    /* padding: 10px; */
    padding-left: 2rem;
    padding-top: 20px;
    min-height: 80px;
    line-height: 1.5;
}

.tiny__display ul li::before,
.tiny__display ol li::before {
    content: "";
    position: absolute;
    background: url('/assets/icons/icon-check.svg');
    height: 60px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    left: -2.5rem;
    top: 10px;
}

.services .section-1 {
    margin: 30px 0;
}
.services .section-1 .left {
    background-color: var(--neutral-light);
    height: 28rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 70px;
    border-radius: 15px 0 0 15px;
    box-shadow: -1px 1px 10px var(--black-light);
}

.services .section-1 .right {
    background: url('/assets/images/services/services-page-image-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 28rem;
    border-radius: 0 15px 15px 0;
}

.services .section-2 {
    padding-bottom: 30px;
}

.services .section-2 .card-box {
    box-shadow: 1px 1px 10px var(--black-light);
    border-radius: 15px;
    height: 24rem;
}

.services .section-2 .card-box .service-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    height: 11.5rem;
}

.services .section-2 .card-box a:hover {
    text-decoration: none;
}

.services .section-3 {
    background: url('/assets/images/services/services-page-image-getintouch-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 26rem;
}

.services .section-3 .container {
    padding-top: 90px;
}

.services .section-3::before {
    content: "";
    background-image: linear-gradient(to bottom, rgb(32, 62, 133), rgba(32, 62, 133, 0.7));
    position: absolute;
    height: 26rem;
    width: 100%;
}


/* services detail */
.service-detail .section-1 {
    background: url('/assets/images/blog/about-us-image-headerbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--light);
    padding: 10px 0 10px 0;
}

.service-detail .section-2 {
    /* padding: 40px 0 20px 0; */
    border-bottom: 1px solid var(--light);
}

.service-detail .section-2 .left .bg-color {
    background-color: var(--neutral-light);
    height: 18rem;
}

.service-detail .section-2 .left .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 21rem;
    border-radius: 15px;
}

.service-detail .section-2 .right {
    width: 100px;
}

.service-detail .section-3 .left {
    padding-left: 80px;
}

.service-detail .section-3 .right {
    position: relative;
}

.service-detail .section-3 .right .img-1 {
    height: 25rem;
    width: 100%;
    border-radius: 15px;
}

.service-detail .section-3 .right .img-2 {
    height: 16rem;
    width: 14rem;
    border-radius: 15px;
    position: absolute;
    bottom: 4%;
    right: -5%;
}

.service-detail .section-4 {
    display: grid;
    grid-template-columns: 30% 70%;
    background: url('/assets/images/services/services-quickenquiry-bg-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40rem;
    overflow: hidden;
}

.service-detail .section-4 .right {
    background-color: rgba(6, 21, 54, 0.9);
    padding: 70px 170px 70px 40px;
}

.service-detail .section-4 .right input {
    background-color: rgba(36, 52, 85, 0.5);
    border: 1px solid var(--primary-light);
    color: var(--light);
}

.service-detail .section-4 .right textarea {
    background-color: rgba(36, 52, 85, 0.5);
    border: 0;
}

.service-detail .section-4 .right input::placeholder,
.service-detail .section-4 .right textarea::placeholder {
    color: var(--black-xlight);
    font-size: 15px;
}

.service-detail .section-4 .right input:focus,
.service-detail .section-4 .right textarea:focus {
    color: var(--white);
}

.service-detail .section-5 {
    padding: 50px 0;
}

.service-detail .section-5 .service-box {
    min-height: 27rem;
    box-shadow: 1px 1px 10px var(--black-light);
    width: 100%;
    border-radius: 15px;
}

.service-detail .section-5 .service-box .bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
    width: 100%;
    z-index: 1;
    border-radius: 15px 15px 0 0;
}

@media screen and (max-width: 991px) {
    .services .section-1 .left {
        padding: 0 30px;
    }

    .service-detail .section-2 .left .bg-color {
        height: 15rem;
    }
    
    .service-detail .section-2 .left .bg-image {
        height: 18rem;
    }

    .service-detail .section-3 .left {
        padding-left: 20px;
    }

    .service-detail .section-3 .right .img-2 {
        bottom: 15%;
    }

    .service-detail .section-4 .right {
        padding: 70px 40px 70px 40px;
    }
}

@media screen and (max-width: 767px) {
    .services .section-1 .left {
        height: 20rem;
        padding: 0 30px;
        border-radius: 15px 15px 0 0;
        box-shadow: -1px 1px 10px var(--black-light);
    }
    .services .section-1 .right {
        height: 20rem;
        border-radius: 0 0 15px 15px;
    }

    .service-detail .section-2 .left .bg-color {
        height: 18rem;
    }
    .service-detail .section-2 .left .bg-image {
        height: 21rem;
    }

    .service-detail .section-3 .right {
        padding-bottom: 50px;
    }
    .service-detail .section-3 .right .img-2 {
        bottom: -3%;
        right: 2%;
    }

    .service-detail .section-4 {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 375px) {
    .services .section-1 .left {
        height: 25rem;
        padding: 0 15px;
        box-shadow: -1px 1px 10px var(--black-light);
    }
    .services .section-1 .right {
        height: 20rem;
        border-radius: 0 0 15px 15px;
    }

    .service-detail .section-2 .left .bg-color {
        height: 13rem;
    }
    
    .service-detail .section-2 .left .bg-image {
        height: 16rem;
    }

    .service-detail .section-4 .right {
        padding: 70px 20px 70px 20px;
    }
}