
/* Home page benefits section */
.benefits {
    background-color: white;
}

.benefits h1 {
    font-size: var(--header-size);
    text-align: center;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.benefits p {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
}

.benefits .col-6 {
    margin-bottom: 3rem;
}

.benefits .col-6 a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
}

.benefits .col-6 a:hover {
    color: var(--main-color);
    font-weight: 600;
}

.benefits img {
    height: 500px;
    width: 70%;
}

.benefits .cities {
    margin-top: 3rem;
}

/* Home page testimonials */
.testimonials {
    background-color: #f0faf8;
}

.testimonials .company {
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 18px;
}

.testimonials .title {
    font-size: 20px;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.testimonials p {
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.testimonials .date {
    color: var(--text-color);
    font-size: 12px;
}

.testimonials .card-body,
.testimonials .card {
    border-radius: 10px !important;
    border: none;
}

.testimonials h1 {
    color: var(--main-color);
    text-align: center;
    font-size: var(--header-size);
    margin-bottom: 3rem;
    font-weight: 500;
}

.testimonials .control-left,
.testimonials .control-right {
    padding: 0 15px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: inherit;
    font-size: 30px;
}

.testimonials .control-left {
    margin-left: 4rem;
}

.testimonials .control-right {
    margin-right: 4rem;
}

.testimonials .carousel-indicators,
.videos .carousel-indicators {
    position: static;
}

.testimonials .carousel-indicators button,
.videos .carousel-indicators button {
    background-color: red;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

.testimonials .carousel-indicators button:not(.active),
.videos .carousel-indicators button:not(.active) {
    background-color: var(--text-color);
}

/* Home page video testimonials */
.videos {
    background-color: white;
}

.videos .video-img {
    position: relative;
}

.videos .play {
    position: absolute;
    top: 30%;
    left: 36%;
    color: white;
    font-size: 50px;
    border: 4px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

.videos .play:hover {
    transform: scale(1.2);
}

.videos .card-body {
    color: var(--text-color);
}

.videos .quote-right {
    text-align: right;
}

.videos p {
    font-weight: 500;
    line-height: 1.6rem;
}

.videos .name {
    font-size: 12px;
}

.videos h1 {
    color: var(--main-color);
    text-align: center;
    font-size: var(--header-size);
    margin-bottom: 3rem;
    font-weight: 500;
}

/* Footer */
.footer-slogan {
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.footer-logo {
    width: 150px;
    margin-bottom: 1rem;
}

.apple,
.playstore {
    display: block;
    margin-bottom: 0.6rem;
}

.footer {
    background-color: #f2f4f7;
}

.footer a:not(.playstore, .apple) {
    text-decoration: none;
    color: #475467;
    font-size: 16px;
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer a:not(.playstore, .apple):hover {
    color: var(--main-color);
}

.footer h5 {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.footer-social {
    display: flex;
}

.footer-end p {
    color: #475467;
    font-style: italic;
}

.footer-social a {
    color: var(--text-color);
    font-size: 30px !important;
    display: block;
    margin-left: 1.5rem;
}

/* Video Modal */
.video-modal .modal-content,
.video-modal .modal-body {
    background-color: black;
}

.video-modal .modal-close {
    display: inline-block;
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    font-weight: bold;
    font-size: 25px;
}


/* House card */

.house-card .card-body {
    background-color: white;
}

.house-card .card-border {
    border-color: var(--main-color);
}


.house-card {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.house-card:hover {
    transform: scale(1.03);
}

.house-card .img-container {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    overflow: hidden;
    width: 150px;
}

.house-card .premium {
    width: inherit;
    overflow: hidden;
}


.gallery-image .image-grid{
    --gap: 16px;
    --num-cols:4;
    --row-height:180px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.gallery-image .image-grid span {
   box-shadow: rgba(0, 0, 0, .1);
   background-color: #fff;
}

.gallery-image .image-grid .img-link > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
} 

.gallery-image .image-grid-col-2{
    grid-column: span 2;
}

.gallery-image .image-grid-row-2{
    grid-row: span 2;
}

@media screen and (max-width:1024px) {
    .gallery-image .image-grid > img {
        --num-cols: 2;
        --row-height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .gallery-image .image-grid > img {
        display: none;
    }
    .gallery-image .image-grid > a.image-grid-col-2 {
        display: block;
        grid-column: span 1;
        grid-row: span 1;
    }
    .gallery-image .image-grid {
        --num-cols: 1;
        --row-height: 400px;
        gap: 0;
    }
}

.house-section .position-sticky i{
    color: var(--main-color) !important;
    font-size: 1.2rem !important;
}

.house-section button{
    border-radius: 13px !important;
}
.house-section .expert{
    border-left: 1px solid #646464;
    padding: 5px;
    padding-left: 27px;
}


/* Responsiveness */
@media (max-width: 991px) {
    .benefits h1 {
        font-size: 20px;
    }

    .benefits p {
        font-size: 16px;
    }

    .benefits img {
        width: 100%;
    }

    .benefits .cities {
        margin-top: 1rem;
    }

    .benefits .col-6 {
        margin-bottom: 0.5rem;
    }

    .benefits .col-6 a {
        font-size: 13px;
    }

    .benefits .city-btn {
        text-align: center;
        margin-top: 1rem;
    }

    .testimonials .carousel-indicators,
    .videos .carousel-indicators {
        margin-top: -2rem;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-social a {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .landlord-info p {
        font-size: 15px !important;
        font-weight: 600;
    }

    .landlord-info label {
        font-size: 13px;
    }
}

/* Arnauld */

.search-section .filter-btn{
    border: 1px dashed var(--gray);
    border-radius: 13px;
    padding: 10px 12px;
    color: var(--grey)
}

.search-section .btn-outline-main{
    border-radius: 13px !important;
    padding: 7px !important;
}
.search-section form input{
    border-radius: 12px;
}


/* .filtered-apartment {
    max-height: 100px !important;
} */
.filtered-apartment .left-section .dropdown  i{
    color: #ff040c !important;
}
.filtered-apartment .left-section{
    max-height: 540px !important;
    overflow-y: scroll !important;
}



input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    position: relative;
}

input[type="checkbox"]::before {
    content: "\2714";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #ff040c;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
    opacity: 1;
}



.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: 1;
}

.header-overlay {
    position: relative;
    height: 100%;
    background-image: url("/storage/images/imageAide.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*responsiveness of the 'Aide' page*/
@media screen and (max-width: 991px) {


    .container-horizontal01 .horizontal-section01 {
        display: block;
        height: 20rem;
        justify-content: space-between;
        font-size: 0%;
        height: fit-content;


    }

    #main .nav {


        margin-top: 5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        font-size: 0.5px;
        text-align: center;
        position: relative;


    }

    #main .nav .nav-link {


        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        font-size: 20px;
        text-align: center;
        position: relative;
        color: black;
    }

    #main .question-section .question-block {

        margin-top: 2rem;
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
        font-size: 2px;
        text-align: center;
        position: relative;
    }
}

#main .nav .nav-link {




    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 20px;
    text-align: center;
    position: relative;
    color: black;


}





/*corresponding css of the 'locataires' panel*/

.sidebar1-sticky {
    position: fixed;
    top: 0;
    height: calc(100vh - 56px);
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

}

.sidebar1 .nav-link {
    font-weight: 500;
    color: #333;

    background-color: #f8f9fa;

}

.sidebar1-sticky a:not(.active) {
    color: #000;
}


main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.active {
    color: var(--main-color);
}



.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #ff040c;
    color: white;
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.help-button:before {
    content: "\f059";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    line-height: 50px;
}


/*corresponding css for proprietaires panel*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.navbar {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);


}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .logo {
    padding: 10px 15px 10px;
}

.sidebar .links {
    margin-top: 15px;
}

.sidebar .links li {
    display: block;
    margin: 0;
    padding: 0;
}

.sidebar .links li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.sidebar .links li a:hover {
    color: #fff;
    background-color: #007bff;
}

.sidebar .settings {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.sidebar .settings a {
    display: inline-block;
    margin: 0 5px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
}

.main {
    flex: 1;
    margin-right: 20px;
}


.expert .contact {
    border-left: none;
    padding-left: 0;
}

.house-images .plus-photos {
    left: 60%;
    top: 70%;
}

.house-section h1 {
    font-size: 22px;
}

.house-section .small-main {
    font-size: 18px;
}

.icon-box .icon {
    font-size: 20px;
}

.icon-box .question {
    color: var(--main-color);
    font-size: 13px;
    font-weight: 600;
    margin-top: 1rem;
}

.icon-box .text {
    font-size: 13px;
    color: var(--text-color);
    margin-top: 1rem;
}

.p-text h4,
.expert h5,
.others h4 {
    font-size: 20px;
}

.house-sidebar button {
    padding: 0.1 rem !important;
}


.main-header .bg-dark {
    background-color: var(--white) !important;
}

.other-header .nav-link{
    color: #646464;
}
.other-header .nav-link:hover{
    color: var(--main-color);
}

.other-header.scrolled {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    background-color: var(--white);
}

.banner{
    position: relative;
    min-height: 80vh;
    text-align: center;
}
@media (max-width: 1000px) {
    .banner{
        padding: 100px 50px;
    }
    
}
@media (max-width: 600px) {
    .banner{
        padding: 125px 30px;
    }
    
}


.banner video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    height: 90vh;
    min-height: 400px
}

.banner input,
button {
    border-radius: 30px;
}

.main-header .navbar-brand .logo {
    max-height: 4.25rem;
    max-width: 490px;
}

#main-header.scrolled {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important; 
    background-color: var(--white) !important;
}

.main-header .search-box {
    flex: 1;
    position: relative;

}

.main-header .search-box input {
    width: 100%;
    border: 1px solid black;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
}

.main-header .search-box div {
    position: relative;
}

.main-header .search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1);
    background: none;
    color: var(--main-color);
}

.nav-tabs .nav-item .nav-link.active {
    border: 2px solid transparent;
    border-bottom-color: var(--main-color);
    color: var(--main-color);

}

.nav-tabs .nav-link:not(.active) {
    color: var(--grey);
    /* muted color for inactive tabs */
    border: 0px solid transparent;
}

.nav-tabs .nav-link:not(.active):hover {
    color: var(--main-color);
}

#landlord button {
    width: 300px;
    border-radius: 30px;
    color: var(--orangered);
}

.nav-tabs button {
    border-radius: 30px;
    width: 190px;
}


.more-text {
    display: none;
}

.text {
    cursor: pointer;
}


.loge {
    background: var(--light-bleu);
}

.featured .card {
    transition: all 0.5s;
    border: 1px solid var(--main-color);
}

.featured .card:hover {
    transform: scale(1.03);
}

#rounded-circle {
    border: 1px solid var(--main-color);
    cursor: text;
    background-color: var(--white);
    color: var(--main-color);
    font-size: 1.5rem;
}

section .tab2 {
    background: var(--light-bleu);
}


/* .wrapper {
    max-width: 700px;
    width: 100%;
    position: relative;
} */



.featured_carousel .owl-dot.active span{
    background-color: var(--main-color) !important;
}
.solution_carousels .owl-next,
 .solution_carousels .owl-prev{
    height: 50px !important;
    width: 50px !important;
    line-height: 50px !important;
    border-radius: 50% !important;
    position: absolute !important;
    color: var(--main-color) !important;
    border: 1px solid var(--grey) !important;
    cursor: pointer !important;
    top: 50% !important;
    font-size: 2.25rem !important;
    transform: translateY(-50%) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.solution_carousels .owl-next{
        right: -82px;
}
.solution_carousels .owl-prev{
    left: -82px;
}


.dashboard_dropdown .dashboard_dropdown_header {
    cursor: pointer;
    border-left: 5px solid var(--main-color);
    border-radius: 5px;
}

.dashboard_dropdown .dashboard_dropdown_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}


.dashboard_dropdown_header.active .dashboard_dropdown_content {
    max-height: 900px;
    animation: fade 1s ease-in-out;
}

.dashboard_dropdown_header i {
    padding: 4px 7px 4px 7px;
    border: 1px solid var(--grey);
    border-radius: 50%;
}

.dashboard_dropdown_header.active i {
    transform: rotate(180deg);
}

.dashboard_dropdown i {
    transition: transform 0.5s ease-in;
}


.landlord-dashboard.dragging .img {
    cursor: grab;
    user-select: none;
}

.landlord-arrowBtns i {
    font-size: 60px;
}

.auth-fluid {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    align-items: stretch;
    background: url('/storage/images/black-woman.jpg');
    background-size: cover;
}

.auth-fluid .auth-fluid-form-box {
    max-width: 1020px;
    border-radius: 0;
    z-index: 2;
    background-color: #fff;
    position: relative;
    width: 100%
}

.auth-fluid .auth-fluid-right {
    /* padding: 6rem 3rem; */
    flex: 1;
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, .3)
}


.auth-user-testimonial {
    position: absolute;
    margin: 0 auto;
    padding: 2.7rem;
    bottom: 0.5rem;
    left: 0;
    right: 0
}

.auth-user-testimonial small {
    font-size: 12px;
}

@media (min-width: 992px) {
    .auth-brand {
        position: absolute;
        top: 3rem
    }
}

@media (max-width: 991.98px) {
    .auth-fluid {
        display: block
    }

    .auth-fluid .auth-fluid-form-box {
        max-width: 100%;
        min-height: 100vh
    }

    .auth-fluid .auth-fluid-right {
        display: none
    }
}

.auth-logo .logo-light {
    display: none
}

.auth-logo .logo-dark {
    display: block
}

.landlord-info p {
    font-size: 20px;
}

.divider {
    display: block;
    background-color: var(--main-color);
    height: 7px;
    width: 100%;
}

.transparent a,
.transparent button {
    color: white;
    font-weight: bold;
}

.transparent a:hover,
.transparent button:hover {
    color: var(--main-color) !important;
}




@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 991px) {
    .tab-content #tenant img {
        background: var(--main-color);
    }
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}





/* responsiveness of the proprietaire panel on small screen*/
@media only screen and (max-width: 415px) {
    .navbar {
        display: none;

    }


    .sidebar {
        width: 100%;
        margin-top: 560px;
        display: block;
        position: fixed;
    }

    .sidebar .fas {
        display: block;
        align-items: center;
        text-align: center;
    }

    .sidebar .logo {
        display: none;
        padding: 10px 15px 10px;
    }


    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;

    }

    .sidebar .settings a {
        display: none;
    }




}

.btn-open {
    transition: margin 0.3s ease;
  }
  
  .popup {
    margin-top: 40px; /* Adjust the margin value as needed */
    display: none;
  }
  
.search-section .popup {
    display: none;
    position: absolute;
    background: var(--white);
    width: 400px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999; /* Set a high z-index value */
    transition: all ease 0.3s;
  }

.search-section .popup .btn-close{
    cursor: pointer;
    padding: 10px;
    width: 20px;
    color: var(--grey);
    border: 3px solid var(--main-color);
    border-radius: 20px;
} 

.search-section .popup .slider{
    height: 11px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
}
.search-section .popup .slider .progress{
    height: 11px;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: var(--main-color);
}

.search-section .popup .range-input{
    position: relative;
}
.search-section .popup .range-input input{
    position: absolute;
    top: -11px;
    height: 11px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
.search-section .popup input[type="range"]::-webkit-slider-thumb{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #17A2B8;
}
.search-section .popup input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: #17A2B8;
}   
.search-section body.popup-open {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }

 .search-section  .radio-label {
    position: relative;
}

.search-section .radio-label input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.search-section .radio-label img {
    border: 1px dashed var(--gray);
    transition: border-style 0.3s ease, border-color 0.3s ease;
    border-radius: 20px;
    padding:20px;
}

.search-section .radio-label input[type="radio"]:checked + img {
    border-style: solid;
    border-color: var(--main-color);
}

.search-section .checkbox-label {
    position: relative;
}

.search-section .checkbox-label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.search-section .checkbox-label span {
    border: 1px dashed var(--gray);
    padding: 10px 14px;
    border-radius: 13px;
    transition: border-style 0.3s ease, border-color 0.3s ease;
}

.search-section .checkbox-label input[type="checkbox"]:checked + span{
    border-style: solid;
    border-color: var(--main-color);
}

.progress-step{
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: var(--grey);
    border-radius: 50%;
}

.economise-circle{
    width: 10.1875rem;
    height: 10.1875rem;
    background-color: var(--main-color);
    border-radius: 50%;
}
.offcanvas{
    width: 880px !important;
    margin-top: 170px;
    bottom: 0;
}



.selected-flag {
    margin-right: 5px;
  }


  #popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  
  #popupContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  #closeButton {
    padding: 5px 15px;
    background-color: #ff3300ee;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

